/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/** jQuery validate error style**/
input.error {
	border: 1px dotted red; 
	}   
label.error {   
	color: red;display: none;   
} 